@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@500&display=swap');
/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
/*--------------------*/

body {
	background: #400080;
	/* font-family: 'Fraunces', serif; */
}
/* .container
{
	display: flex;
	justify-content: space-between;
} */
.nav-wrapper {
	padding: 0px 20px 0px 20px;
	background: #400040;
}
.price {
	font-size: 2rem;
}
.product{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.product h1 {
	margin-bottom: 2rem;
}
.product img {
	min-width: 600px;
	height: auto;
}
.product .price.big {
	font-size: 2.5rem;
}
.card-action.actions {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #000;
}
.course-form {
	margin-bottom: 20px;
}

.auth {
	padding-top: 1rem;
}
.tabs .tab a {
	font-size: 18px;
	font-weight: bold;
}
.tabs .tab a.active {
	color: #8000ff;
}

.alert {
	padding: 5px 3px 5px 3px;
	border-radius: 2px;
	text-align: center;
	margin-bottom: 1rem;
	margin-top: 15px;
	background: #ff0000;
	/* opacity: 0.3; */
	color: #ffffff;
	font-size: 24px;
}
.col{
	
	width: 300px;
}

.btn-small {
	height: 21.4px;
	line-height: 23.4px;
	font-size: 10px;
}

/* //------------------- */


.z {
	padding: 7px 13px 0px 13px;
	display: inline-block;
	width: 43px;
	height: 29px;
	background: #26a69a;
	border-radius: 2px;
}
.js-delete
{
	font-size: 28px;
}
.btn, .btn-large, .btn-small, .btn-flat
{
	height: 32px;
}
.js-remove
{
	background-color: #ff8080;
}
.js-remove:hover
{
	background-color: #ff0000;
}